.text {
  font-family: sans-serif;
  font-size: 24px;
}

.timer {
  margin-bottom: 20px;

  color: #9a1a1a;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-device-width: 900px) {
  .text {
    margin: 0 auto;
    width: 80%;
  }
}
